<h1>Branding</h1>
<table>
  <%= for content <- @branding do %>
    <tr>
      <td>
        <%= link to: branding_path(@conn, :show, content.id) do %>
          <%= content.item %>
        <% end %>
      </td>
      <td>
        <pre><%= content.copy %></pre>
      </td>
    </tr>
  <% end %>
</table>
<p><%= link "New branding", to: branding_path(@conn, :new) %></p>
