<h1>Showing Branding</h1>
<p>Item: <b><%= @content.item %></b></p>
<section class="box">
  <p><%= @content.copy %></p>
</section>
<p>HTML preview:</p>
<section class="box">
  <%= to_html(@content.copy) %>
</section>
