a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

a:hover {
  color: #1A9643;
  opacity: 0.75;
}

a:hover img {
  opacity: 0.85;
}

body {
  font-family: "museo-slab", serif;
  line-height: 1.4;
  font-weight: 300;
  color: dimgray;
}

.container {
  margin: 0 auto;
}

dd { padding-bottom: 0.5em; }

dt { font-weight: 700; }

footer {
  padding: 0.75em 1.25em 2em;
  border-top: 1px solid #BFBFBF;
  font-size: 0.8em; 
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.25em;
  font-family: "proxima-nova", sans-serif;
  font-weight: medium;
  line-height: 1.2;
}

h1 {
  font-size: 1.7em;
}

h1 a {
  color: inherit;
}

h1 em {
  color: #1A9643;
}

h2 {
  font-size: 1.5em;
}

header { 
  padding: 0.75em 1.25em;
  border-top: 5px solid #1A9643;
  border-bottom: 1px solid #BFBFBF;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
}

i {
  font-style: italic;
}

img.logo {
  width: 3.75em;
  height: 3.75em;
  display: block;
  margin: 0 auto;
}

img.logo-bw {
  padding-top: 1em;
  width: 3em;
  height: 3em;
  display: block;
  margin: 0 auto;
}

main {
  padding: 2em 1.25em;
}

main a {
  color: #1A9643;
}

nav { 
  text-align: center;
  font-size: 0.95em; 
  text-transform: uppercase;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  display: block;
}

nav ol {
  margin-top: 1.5em
}

nav ol li {
  display: inline;
  margin-right: 0.85em;
}

nav ol li:last-child {
  margin-right: 0;
}

ol.social {
  padding: 0.75em 0;
  font-size: 1.9em;
}

ol.social li {
  display: inline;
  margin-right: 1em;
  color: #1A9643;
}

ol.social li:last-child {
  margin-right: 0;
}

p { margin: 0.5em 0; }

p.license {
  color: #7F7F7F;
}

@media(min-width: 25em) {
  a.logo {
    float: left;
  }
  nav ol {
    float: right;
  }
  .container {
    width: 85%;
  }
  dt { 
    float: left; 
    clear: left; 
    padding: 0.25em;
    background-color: #F0F0F0;
  }
  dt:nth-of-type(even), dd:nth-of-type(even) {
    background-color: #E0E0E0;
  }
  dt:after { content: ":"; }
  dd { 
    text-align: right; 
    padding: 0.25em;
    background-color: #F0F0F0;
  }
}

@media (min-width: 64em) {
  body { 
    font-size: 110%; 
  }
  .container {
    width: 78%;
  }
  img.logo {
    width: 4em;
    height: 4em;
  }

  img.logo-bw {
    padding-top: 1em;
    width: 3.25em;
    height: 3.25em;
  }
}

@media (min-width: 85em) {
  body { 
    font-size: 115%; 
  }
  .container {
    width: 65%;
  }
}
