<%= if @current_user do %>
  <div class="admin-nav">
    <span><b><%= @current_user.username %></b></span>
    <ol>
      <li><%= link "New Article", to: article_path(@conn, :new) %></li>
      <li><%= link "Branding", to: branding_path(@conn, :index) %></li>
      <li><%= link "Users", to: user_path(@conn, :index) %></li>
      <li>
        <%= link "Log out", 
        to: session_path(@conn, :delete, @current_user),
        method: "delete" %>
      </li>
    </ol>
  </div>
<% end %>
