<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="I believe in tested, simple, and clear code.">
    <meta name="author" content="Brian Gamble">
    <title><%= page_title(@conn, assigns) %></title>
    <%= render "typekit.html" %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/reset.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <%= render "analytics.html" %>
  </head>
  <body>
    <header role="banner">
      <div class="container">
        <a title="Home" class="logo" href="<%= page_path(@conn, :index) %>">
          <img class="logo" src="<%= static_path(@conn, "/images/logo.svg") %>" alt="logo" />
        </a>
        <nav role="navigation">
          <ol>
            <li><%= link "Articles", to: article_path(@conn, :index) %></li>
            <li><%= link "Info", to: page_path(@conn, :info) %></li>
            <li><a href="mailto:cc@theclearcoder.com" title="Contact Brian Gamble">Contact</a></li>
          </ol>
        </nav>
      </div>
    </header>
    <%= if @current_user do %>
      <div class="admin">
        <nav>
          <ol>
            <li><%= @current_user.username %></li>
            <li>
              <%= link "Log out", 
                    to: session_path(@conn, :delete, @current_user),
                    method: "delete" %>
            </li>
          </ol>
        </nav>
      </div>
    <% end %>
    <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p> 
    <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
    <main role="main">
      <div class="container">
        <%= render @view_module, @view_template, assigns %>
      </div>
    </main>
    <footer role="contentinfo">
      <div class="container">
        <ol class="social">
          <li><a href="https://www.linkedin.com/in/bjgamble" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://github.com/theclearcoder" target="_blank"><i class="fa fa-github"></i></a></li>
          <li><a href="https://twitter.com/theclearcoder" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.behance.net/BJGAMBLE4b6e" target="_blank"><i class="fa fa-behance"></i></a></li>
          <li><a href="https://soundcloud.com/brian_gamble" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
        </ol>
        <p class="license">&copy; 2016 Brian Gamble. All rights reserved.</p>
        <div><img class="logo-bw" src="<%= static_path(@conn, "/images/logo-bw.svg") %>" alt="logo" /></div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script> 
  </body>
</html>
