<%= for article <- @articles do %>
  <article>
    <h1><%= link article.title, to: article_path(@conn, :show, article.slug) %></h1>
    <time datetime="<%= date_as_iso8601(article) %>"><%= date_as_readable(article) %></time>
    <section>
      <%= md_to_html(article.teaser) %>
      <%= link "Continue reading", to: article_path(@conn, :show, article.slug), class: "button" %>
    </section>
  </article>
<% end %>
