<%= for article <- @articles do %>
  <article>
    <h1><%= link article.title, to: article_path(@conn, :show, article.slug) %></h1>
    <time datetime="2016-07-15T22:22:37+00:00">Jul 15, 2016</time>
    <section>
      <%= md_to_html(article.teaser) %>
      <%= link "Continue reading", to: article_path(@conn, :show, article.slug), class: "button" %>
    </section>
  </article>
<% end %>
