<article>
  <h1><%= @article.title %></h1>
  <time datetime="<%= date_as_iso8601(@article) %>"><%= date_as_readable(@article) %></time>
  <section>
    <%= content_as_html(@article) %>
  </section>
</article>
