.form-group {
  margin-bottom: 0.75em;
}

.form-control {
  border: $brandLightGray 2px solid;
  border-radius: 4px;
  color: $brandDarkGray;
  font-family: inherit;
  font-size: 85%;
  padding: 0.55em;
  width: 100%;
}

.help-block {
  color: $red;
  font-style: italic;
}
