.alert {
  margin-bottom: 1.25em;
  padding: 0.5em 1em;
  border-radius: 5px;
}

.alert-danger {
  border: $red 1px solid;
  color: $red;
  background-color: $redLight;
}

.alert-info {
  border: $brandGreen 1px solid;
  color: $brandGreen;
  background-color: $brandGreenLight;
}
