.form-group {
  margin-bottom: 0.75em;
}

.form-control {
  width: 100%;
  border: $brandLightGray 1px solid;
  border-radius: 4px;
  font-family: inherit;
  font-size: 85%;
  padding: 0.55em;
}

.help-block {
  color: $red;
  font-style: italic;
}
