$brandGreen:     #1A9643;
$brandGreenLight: lighten($brandGreen, 60%);
$brandDarkGray:  #777;
$brandMedGray:   #999;
$brandLightGray: #E0E0E0;
$red:            #ff4d4d;
$redLight:       lighten($red, 30%);
