@import "variables";
@import "mixins";
@import "mediaqueries";
@import "alert";
@import "forms";
@import "tables";

a {
  text-decoration: none;
  font-weight: 700;
  color: $brandGreen;
}

a:hover {
  opacity: $opacity;
  color: $brandGreen;

  img {
    opacity: $opacity;
  }
}

.actions {
  font-size: 130%;

  .delete {
    color: darken($red, 20%);
  }

  .edit {
    color: darken(yellow, 5%);
  }

  ol li {
    padding-right: 1em;
    display: inline-block;
  }
}

abbr {
  border-bottom: $brandLightGray 2px dotted;
  cursor: help;
}

.admin-nav {
  background-color: lighten($brandLightGray, 10%);
  border: $brandMedGray 1px solid;
  border-radius: 5px;
  font-size: 80%; 
  margin-bottom: 1em;
  padding: 0.65em;
  overflow: auto;
  text-align: center;

  ol li {
    display: inline-block;
    margin-right: 0.65em;

    a { 
      color: $brandDarkGray;
      font-weight: inherit;

      &:hover {
        color: $brandGreen;
      }
    }
  }

  ol li:last-child {
    margin-right: 0;
  }
}

article { 
  border-bottom: $brandLightGray 1px dotted; 
  padding-bottom: 1.5em;
  margin-bottom: 1.5em;

  &:last-child { 
    border-bottom: none; 
    padding-bottom: 0;
    margin-bottom: 0;
  }
}

audio {
  width: 200px;
  height: 225px;
  outline: 1px solid $brandMedGray;
  background: url('/images/code-life-digital.png') no-repeat top center;
  background-size: contain;
}

b, strong {
  font-weight: 700
}

body {
  @include fontMuseoSlab;
  line-height: 1.4;
  font-weight: 300;
  color: $brandDarkGray;
}

.box {
  border: $brandLightGray 1px solid;
  border-radius: 5px;
  padding: 1em;
}

button, .btn { 
  background-color: inherit;
  color: $brandGreen;
  border: 1px solid $brandGreen;
  padding: 0.55em;
  border-radius: 7px;
  font-family: inherit;
  font-size: 100%;
}

.btn-cancel {
  border-color: $brandMedGray;
  color: $brandMedGray;
  font-weight: inherit;
}

.centered {
  text-align: center;
}

.container {
  margin: 0 auto;
}

em {
  font-style: italic;
}

footer {
  padding: 0.75em 2em;
  border-top: 1px solid $brandLightGray;
  font-size: 0.8em; 
  text-align: center;

  & ol.social {
    font-size: 1.9em;
  }
}

.gray {
  color: $brandMedGray;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.25em;
  @include fontProximaNova;
  line-height: 1.2;
}

h1 {
  font-size: 1.8em;

  a {
    font-weight: inherit;
  }

  &.heading:after {
    display: block;
    padding-top: 0.6em;
    color: $brandMedGray;
    content: "* * * * *";
    text-align: center;
    letter-spacing: 4px;
  }
}

h2 {
  font-size: 1.55em;
}

h3 { 
  font-size: 1.35em;
}

header { 
  padding: 0.75em 1.25em;
  border-top: 5px solid $brandGreen;
  border-bottom: 1px solid $brandLightGray;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
  
  &.align-right {
    float: right;
    margin-left: 0.5rem;
  }

  &.logo {
    @include dimensions(3.75em);
    display: block;
    margin: 0 auto;
  }

  &.logo-bw {
    padding-top: 1em;
    @include dimensions(2.25em);
    display: block;
    margin: 0 auto;
  }

  &.round {
    border-radius: 50%;
  }

  &.small {
    @include dimensions(200px);
  }
}

input[type="submit"]:hover {
  cursor: pointer;
  opacity: $opacity;
}

main {
  padding: 2em 1.25em;
}

mark {
  background-color: inherit;
  color: $brandGreen;
}

nav { 
  display: block;
  text-align: center;
  text-transform: uppercase;
  @include fontProximaNova;
  font-size: 80%; 

  ol {
    margin-top: 1.5em
  }

  ol li {
    display: inline;
    margin-right: 0.75em;

    a { color: $brandDarkGray; }
  }

  ol li:last-child {
    margin-right: 0;
  }
}

p { 
  margin: 0.5em 0; 

  &.license {
    color: $brandMedGray;
  }
}

pre {
  white-space: pre-wrap;
}

section {
  margin-bottom: 1.35em;
}

section:last-child {
  margin-bottom: 0;
}

.spacing {
  margin-bottom: 1.5em;
}

.social {
  padding: 0.75em 0;

  li {
    display: inline;
    margin-right: 1em;

    span {
      display: none;
    }
  }

  li:last-child {
    margin-right: 0;
  }
  
  &.gray {
    a {
      color: $brandDarkGray;
    }

    a:hover {
      color: $brandMedGray;
    }
  }
}

time {
  font-style: italic;
}

@include breakpoint(30em) {
  body {
    font-size: 105%;
  }

  a.logo {
    float: left;
  }

  @include container(85%);

  nav ol {
    float: right;

    li {
      margin-right: 1.1em;
    }
  }
}

@include breakpoint(62em) {
  .admin-nav {
    text-align: left;

    p {
      float: left;
    }

    ol {
      float: right;
      text-align: right;

      li {
        padding-top: 0.5em;
        margin-right: 1.5em;
      }
    }
  }

  body { 
    font-size: 112%; 
  }

  @include container(75%);

  img.logo {
    @include dimensions(4em);
  }

  img.logo-bw {
    @include dimensions(2.5em);
  }
}

@include breakpoint(85em) {
  body { 
    font-size: 117%; 
  }

  @include container(60%);
}
