@import "variables";
@import "mixins";
@import "mediaqueries";

a {
  text-decoration: none;
  font-weight: 700;
  color: $brandGreen;
}

a:hover {
  opacity: 0.75;
  color: $brandGreen;
}

body {
  @include fontMuseoSlab;
  line-height: 1.4;
  font-weight: 300;
  color: $brandDarkGray;
}

button { 
  background-color: inherit;
  color: $brandGreen;
  border: 1px solid $brandGreen;
  padding: 0.55em;
  border-radius: 7px;
  font-family: inherit;
  font-size: 100%;
}

.container {
  margin: 0 auto;
}

footer {
  padding: 0.75em 2em;
  border-top: 1px solid $brandLightGray;
  font-size: 0.8em; 
  text-align: center;
}

h1, h2, h3, h4, h5 {
  margin-bottom: 0.25em;
  @include fontProximaNova;
  line-height: 1.2;
}

h1 {
  font-size: 1.8em;

  a {
    font-weight: inherit;
  }

  &.heading {
    margin-bottom: 0.3em;
  }

  &.heading:after {
    display: block;
    padding-top: 0.5em;
    color: $brandLightGray;
    content: "* * * * *";
    text-align: center;
  }
}

h2 {
  font-size: 1.55em;
}

h3 { 
  font-size: 1.35em;
}

header { 
  padding: 0.75em 1.25em;
  border-top: 5px solid $brandGreen;
  border-bottom: 1px solid $brandLightGray;
  overflow: auto;
}

img {
  max-width: 100%;
  height: auto;
  
  &.align-right {
    float: right;
    margin-left: 0.5rem;
  }

  &.logo {
    @include dimensions(3.75em);
    display: block;
    margin: 0 auto;
  }

  &.logo-bw {
    padding-top: 1em;
    @include dimensions(3em);
    display: block;
    margin: 0 auto;
  }

  &.round {
    border-radius: 50%;
  }
}

main {
  padding: 2em 1.25em;
}

mark {
  background-color: inherit;
  color: $brandGreen;
}

nav { 
  display: block;
  text-align: center;
  text-transform: uppercase;
  @include fontProximaNova;
  font-size: 80%; 

  ol {
    margin-top: 1.5em
  }

  ol li {
    display: inline;
    margin-right: 1.25em;

    a { color: $brandDarkGray; }
  }

  ol li:last-child {
    margin-right: 0;
  }
}

ol.social {
  padding: 0.75em 0;
  font-size: 1.9em;

  li {
    display: inline;
    margin-right: 1em;
  }

  li:last-child {
    margin-right: 0;
  }
}

p { 
  margin: 0.5em 0; 

  &.license {
    color: $brandMedGray;
  }
}

section {
  margin-bottom: 1.35em;
}

section:last-child {
  margin-bottom: 0;
}

time {
  font-style: italic;
}

@include breakpoint(400) {
  body {
    font-size: 105%;
  }

  a.logo {
    float: left;
  }

  @include container(85%);

  nav ol {
    float: right;

    li {
      margin-right: 1.5em;
    }
  }
}

@include breakpoint(1024) {
  body { 
    font-size: 112%; 
  }

  @include container(75%);

  img.logo {
    @include dimensions(4em);
  }

  img.logo-bw {
    @include dimensions(3.25em);
  }
}

@include breakpoint(1360) {
  body { 
    font-size: 117%; 
  }

  @include container(60%);
}
