<%
  info = get_flash(@conn, :info)
  error = get_flash(@conn, :error)
%>
<%= if info do %>
  <p class="alert alert-info" role="alert">
    <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= get_flash(@conn, :info) %>
  </p> 
<% end %>
<%= if error do %>
  <p class="alert alert-danger" role="alert">
    <span class="close" onclick="this.parentElement.style.display='none';">&times;</span>
    <%= get_flash(@conn, :error) %>
  </p>
<% end %>
