<h3 class="underline">About</h3>
<p>I'm a designer and software developer working in the Dallas/Fort Worth area.  I've been writing code for over twenty years.</p>
<br>
<h3 class="underline">Colophon</h3>
<p>This site is powered by the <a href="http://www.phoenixframework.org" target="_blank">Phoenix framework</a>, <a href="http://elixir-lang.org" target="_blank">Elixir</a>, and <a href="https://www.heroku.com/" target="_blank">Heroku</a>. 
I created, designed, and coded the website and logo.  The typefaces used are Museo Slab and Proxima Nova and served by <a href="http://typekit.com/">Typekit</a>.
The social media icons are provided by <a href="http://fontawesome.io" target="_blank">Font Awesome</a>.</p>
