<dl>
  <dt>Email</dt>
  <dd>cc[at]theclearcoder.com</dd>
  <dt>LinkedIn</dt>
  <dd><a href="http://www.linkedin.com/in/bjgamble" target="_blank">bjgamble</a></dd>
  <dt>Twitter</dt>
  <dd><a href="https://twitter.com/theclearcoder" target="_blank">@theclearcoder</a></dd>
  <dt>GitLab</dt>
  <dd><a href="https://gitlab.com/u/theclearcoder" target="_blank">@theclearcoder</a></dd>
</dl>