<h1>I'm Brian Gamble, a developer, designer, and coffee drinker.  <mark>I believe in tested, simple, and clear code, and I strive for minimalism in my designs.</mark></h1>
<p>For over two decades I've made a living as a web developer.  A lot has changed during that time, and that's why I love technology&mdash;there's always something new to learn.  (My first web browser was <a href="https://en.wikipedia.org/wiki/Mosaic_(web_browser)" target="_blank">NCSA Mosaic</a> running on a <a href="https://en.wikipedia.org/wiki/SPARCstation_20" target="_blank">Sun SPARCstation</a>.)  I've also been blessed to work at a diverse set of companies with some really great people.</p>
<p>Now I'm stepping out with my own company, <a href="http://gentlelionstudios.com" target="_blank">Gentle Lion Studios</a>.</p>
