<h1>I'm Brian Gamble, a designer, developer, and coffee drinker.  <em>I strive for 
    understated designs, and I believe in tested, simple, and clear code.</em>
</h1>
<p>I've been making a living as a web developer since 1995&mdash;I first experienced the web through <a href="https://en.wikipedia.org/wiki/Mosaic_(web_browser)" target="_blank">Mosaic</a> running on a Sun <a href="https://en.wikipedia.org/wiki/SPARCstation_20" target="_blank">SPARCstation</a>.</p>
<p>A lot has changed since then, and that's one of the reasons I love technology; there's always something new to learn. I've had the priviledge of working at a diverse set of companies with some really great people.</p>
<p>Now I'm spending my days working at <a href="http://gentlelionstudios.com" target="_blank">Gentle Lion Studios</a>, a company I founded this past summer.</p>