<div class="centered">
  <img class="small" src="<%= static_path(@conn, "/images/gray-coding_show.png") %>"
       srcset="<%= static_path(@conn, "/images/gray-coding_show.png") %> 1x,
               <%= static_path(@conn, "/images/gray-coding_show@2x.png") %> 2x,
               <%= static_path(@conn, "/images/gray-coding_show@3x.png") %> 3x">
</div>
<p>The Coding Show is a podcast co-hosted with William Linton.  We discuss the life of a software developer and touch on topics that affect our daily work.</p>
<p><a href="http://www.thecodingshow.com">http://www.thecodingshow.com/</a></p>
